* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

h1 {
    font-family: 'Mynerve', cursive;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: max(44px, 5.2vw);
}

h2 {
    font-family: 'Mynerve', cursive;
    text-shadow: 4px 4px 6px #464646;
    font-weight: 700;
    font-size: max(20px, 2.8vw);
}

header {
    max-width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../imagens/49587\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header nav#nav-esquerda div#logo {
    max-width: 100px;
    max-height: 120px;
    margin-left: 5rem;
}

header nav#nav-esquerda div#logo img {
    width: 100%;
    height: 100%;
}

header nav#nav-esquerda ul#icone-menu {
    display: none;
}

header nav#nav-esquerda ul#icone-menu li {
    list-style: none;
}

header nav#nav-esquerda ul#icone-menu li ion-icon {
    font-size: 50px;
    color: white;
    margin-right: 2rem;
}

header nav#nav-esquerda ul#menu-itens {
    display: flex;
    flex-flow: row wrap;
    margin-right: 5rem;
}

header nav#nav-esquerda ul#menu-itens li {
    list-style: none;
    margin-left: 2rem;
}

header nav#nav-esquerda ul#menu-itens li a {
    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    font-size: 110%;
    transition: 0.3s;
    padding-bottom: 10px;
}

header nav#nav-esquerda ul#menu-itens li a:hover {
    border-bottom: 2px solid white;
    opacity: 0.8;
}