* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    max-width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../imagens/49587\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}